{
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "importOrder": [
    "^[./(.css)$]",
    "^@/types/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/database/(.*)$",
    "^@/libs/(.*)$",
    "^@/app/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/_context/(.*)$",
    "^@/components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
