:root {
    --accents-1: #f2f2f2;
    --accents-2: #e0e1e0;
    --accents-3: #ced0ce;
    --accents-4: #bcbebc;
    --accents-5: #a9aba9;
    --accents-6: #959895;
    --accents-7: #828582;
    --accents-8: #6d706d;
    --accents-9: #575b57;
    --accents-10: #424342;
    --accents-11: #282928;
    --accents-12: #0a0a0a;

    --ufcb-porche: #d3ff00;
    --ufcb-pink: deeppink;
}

[data-theme="dark"] {
    --accents-1: #0a0a0a;
    --accents-2: #282928;
    --accents-3: #424342;
    --accents-4: #575b57;
    --accents-5: #6d706d;
    --accents-6: #828582;
    --accents-7: #959895;
    --accents-8: #a9aba9;
    --accents-9: #bcbebc;
    --accents-10: #ced0ce;
    --accents-11: #e0e1e0;
    --accents-12: #f2f2f2;

    --ufcb-porche: #4d5a4a;
    --ufcb-pink: #694056;
}
