@import "color.scss";
@import "variable.scss";
@import "nprogress.scss";

* {
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    svg {
        color: currentColor;
        path {
            fill: currentColor;
        }
    }
}

body {
    padding: 0;
    margin: 0;

    background-color: var(--accents-1);
    color: var(--accents-12);

    overscroll-behavior: auto none;
    margin-top: -1px;

    font-family: var(--font-default);
}

table {
    width: 100%;
    border-collapse: collapse;

    tr {
        height: calc(var(--grid-unit) / 2);
        th {
            background-color: var(--accents-2);
        }

        &:nth-child(even) {
            td {
                background-color: var(--accents-2);
            }
        }

        &[data-active="true"] {
            td {
                background-color: var(--ufcb-porche);
            }
        }
    }
}
