/**
1. 1920 x 1080
2. 1536 x 864
3. 1366 x 768
4. 1280 x 800
5. 810 x 1080
6. 768 x 1024
7. 601 x 962
8. 414 x 896
9. 369 x 800
*/

$phone: 768px;
$tablet: 1024px;
$sMonitor: 1440px;
$mMonitor: 1680px;
$lMonitor: 1920px;
$xlMonitor: 2200px;
$xxlMonitor: 2600px;

@function translate-media-condition($c) {
    $condMap: (
        "screen": "only screen",
        "print": "only print",
        "retina":
            "(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi)",
        ">phone": "(min-width: #{$phone + 1})",
        "<phone": "(max-width: #{$phone})",
        ">tablet": "(min-width: #{$tablet + 1})",
        "<tablet": "(max-width: #{$tablet})",
        ">sMonitor": "(min-width: #{$sMonitor + 1})",
        "<sMonitor": "(max-width: #{$sMonitor})",
        ">mMonitor": "(min-width: #{$mMonitor + 1})",
        "<mMonitor": "(max-width: #{$mMonitor})",
        ">lMonitor": "(min-width: #{$lMonitor + 1})",
        "<lMonitor": "(max-width: #{$lMonitor})",
        ">xlMonitor": "(min-width: #{$xlMonitor + 1})",
        "<xlMonitor": "(max-width: #{$xlMonitor})",
        ">xxlMonitor": "(min-width: #{$xxlMonitor + 1})",
        "<xxlMonitor": "(max-width: #{$xxlMonitor})"
    );
    @return map-get($condMap, $c);
}

@mixin media($args...) {
    $query: "";

    @each $arg in $args {
        $op: "";

        @if ($query != "") {
            $op: " and ";
        }

        $query: $query + $op + translate-media-condition($arg);
    }

    @media #{$query} {
        @content;
    }
}
