.nprogress-busy {
    * {
        pointer-events: none;
        touch-action: none;
    }
}

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background-color: var(--ufcb-porche);

    position: fixed;
    z-index: 5000;
    top: 0;
    left: 0;

    width: 100%;
    height: var(--site-padding);
    border-bottom: 1px solid var(--grid-color);
    border-right: 1px solid var(--grid-color);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 5000;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -200%);

    display: flex;
    align-items: center;
    justify-content: center;

    mix-blend-mode: difference;
}

#nprogress .spinner-icon {
    transform-origin: center bottom;

    width: var(--grid-unit);
    height: calc(var(--grid-unit) / 2);

    border-top-right-radius: calc(var(--grid-unit) / 2);
    border-top-left-radius: calc(var(--grid-unit) / 2);
    border: 0.15em solid #fff;
    border-bottom: none;

    animation: nprogress-spinner 500ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
