@import "media.scss";

@font-face {
    font-family: "Alige";
    src: url("https://font.unforma.club/files/Alige[GRAD,wght].woff2") format("woff2-variations");
    font-style: normal;
    font-weight: 100 700;
    font-display: block;
}

@font-face {
    font-family: "Alige";
    src: url("https://font.unforma.club/files/Alige-Italic[GRAD,wght].woff2")
        format("woff2-variations");
    font-style: italic;
    font-weight: 100 700;
    font-display: block;
}

@font-face {
    font-family: "Lug Straight";
    src: url("https://font.unforma.club/files/LugStraight-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
    font-display: block;
}

@font-face {
    font-family: "Loug";
    src: url("https://font.unforma.club/files/Loug-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
    font-display: block;
}

@font-face {
    font-family: "Olig";
    src: url("https://font.unforma.club/files/Olig-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: block;
}

:root {
    --font-display: "Olig";
    --font-default: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    --vw: 100vw;
    --scrollbar-width: 10px;
    --grid-division: 12;
    --grid-color: hsla(0, 0%, 50%, 0.3);
    --site-padding: 0.5em;

    @include media("screen", ">xlMonitor") {
        --grid-division: 36;
    }
    @include media("screen", "<xlMonitor") {
        --grid-division: 32;
    }
    @include media("screen", "<lMonitor") {
        --grid-division: 28;
    }
    @include media("screen", "<mMonitor") {
        --grid-division: 24;
    }
    @include media("screen", "<sMonitor") {
        --grid-division: 20;
    }
    @include media("screen", "<tablet") {
        --grid-division: 12;
    }
    @include media("screen", "<phone") {
        --grid-division: 6;
    }

    --base-accordion-link-width: calc(100vw - var(--scrollbar-width) - (var(--site-padding) * 2));
    --accordion-link-width: calc(var(--base-accordion-link-width) / (var(--grid-division) + 4));

    --grid-width: calc(
        100vw - (var(--accordion-link-width) * 4) - var(--scrollbar-width) -
            calc(var(--site-padding) * 2)
    );
    --grid-column-width: calc(var(--grid-width) / var(--grid-division));
    --grid-unit: var(--grid-column-width);

    --bg-grid-horizontal: linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    --bg-grid-horizontal-size: var(--grid-column-width) var(--grid-column-width);

    --bg-grid-vertical: linear-gradient(to right, var(--grid-color) 1px, transparent 1px);
    --bg-grid-vertical-size: calc((var(--grid-width) - 1px) / var(--grid-division)) auto;

    --full-grid: calc(var(--grid-division) - 4);
    --drawer-setting-width: calc(var(--accordion-link-width) * 6);

    [data-layout="grid"] {
        display: grid;
        grid-template-columns: repeat(var(--grid-division), minmax(var(--grid-unit), 1fr));
    }
}
